* { margin: 0 ; padding: 0 ;}


a{
	color: #FFF;
	text-decoration: none;
}

body,html{
	background: url('../imgs/bg.png') ;
	font-family: Helvetica,Arial;
}


header{
	display: block;
	margin: 2em auto 0 auto ;
	width: 80%;
}

header nav,header>#logo-h{
	display: inline-block;
	vertical-align: middle;
}

header>#logo-h{
	width: 18%;
}

header>#logo-h img,header>#logo-h a{
	max-width: 100%;
}

header nav{
	background: rgba(16,63,117,1);
	margin-left: 5%;
	width: 75%;
	position: relative;
}

header nav ul{
	position: relative;
	display: block;
	width: 100%;
	list-style: none;
}

header nav ul li{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

header nav ul li a{
	display: block;
	padding: 1em;
}

header nav ul li:hover a{
	background:#0f4c91;
}

header nav ul li ul{
	position: absolute;
	z-index: 999;
	display: block;
}

header nav ul li ul{
	min-width: 150px;
	width: 100%;
}

header nav ul li ul li{
	display: block;
}

header nav ul li ul li:hover a{
	background: #083d78;
	text-shadow: 2px 2px 2px #000;
}

header nav ul li:hover ul{
	display: block;
}

header nav ul li ul{
	display: none;
}


#main{
	display: block;
	width: 80%;
	margin: 2em auto;
}

/**/

#add-form a{
	color: #000;
}

#add-form{
	display: block;
	width: 40%;
	margin:2em auto;
}

#add-form h1{
	background: #164e8f;
	margin: 1em auto 3em auto;
	opacity: 0.5;
	padding: 0.3em;
	color: #FFF;
}

#sadd-empresa,#fechas-1{
	display: block;
	margin: 1em auto;
	width: 100%;
}

#fechas-1 input[type=text]{
	display: inline-block;
	width: 45%;
	color: #FFF;
	vertical-align: middle;
	padding: 0.5em;
	font-size: 1.2em;
	border:0;
	outline: 0;
	background: rgba(23,84,154,0.8);
}

#fechas-1 input:last-child{
	float: right;
}

#add-form input[type=submit]{
	display: block;
	margin:1em auto;
	background: #365d89;
	cursor: pointer;
	padding: 0.5em;

	font-size: 1.2em;
	color: #FFF;
	width: 50%;
	outline:0;
	border:0;
}


#popup{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.8);
	z-index: 9999;
	top:0;
	left: 0;
}

#loader{
	display: block;
	margin: 22% 0 0 50%;
}

/*LOGIN*/

#login header>#logo-h{
	display: block;
	margin:0 auto;
	width: 30%;
}


#login>#form{
	display: block;
	margin:3em auto;
	width: 30%;
}

#login>#form form{
	display: block;
	width: 100%;
}

#login>#form input{
	background: rgba(165,165,165,0.5);
	display: block;
	color: #FFF;
	margin: 1em auto;
	font-size: 1.4em;
	border:0;
	outline:0;
	padding: 0.5em;
	width: 95%;
}

#login>#form input[type=submit]{
	background: #365d89;
	cursor: pointer;
	width: 50%;
}